<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Basic -->
    <title><%- config.title %> | <%- page.title %> </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Misc -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="<%- url_for('style/doc.css') %>">
    <link rel="stylesheet" href="<%- url_for('style/bootstrap.css') %>">
    <link rel="icon" href="<%- url_for(config.theme_config.favicon) %>">

  </head>
  <body>
    <!-- easy way to pass initial state from "server" to "client" -->
   <script>
     window.__INITIAL_STATE__ = {
       data: <%- JSON.stringify(site.data) %>,
       config: <%- JSON.stringify(config) %>,
       page: <%- JSON.stringify(page) %>
     }
   </script>

    <%- partial('./navigation') -%>

    <%- body %>

    <%- partial('google_analytics.ejs') %>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lunr@2.1.0"></script>

    <script src="<%- url_for('script/smooth-scroll.min.js') %>"></script>
    <script src="<%- url_for('script/main.js') %>"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/fastclick/1.0.6/fastclick.min.js"></script>

  </body>
</html>
