<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Basic -->
    <title><%- config.title %> | <%- page.title %> </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="" sizes="16x16 32x32 64x64">

    <!-- Misc -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%- url_for('style/style.css') %>">
    <link rel="stylesheet" href="<%- url_for('style/bootstrap.css') %>">
    <link rel="icon" href="<%- url_for(config.theme_config.favicon) %>">
  </head>
  <body>
    <%- body %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lunr@2.1.0"></script>

    <script src="<%- url_for('script/smooth-scroll.min.js') %>"></script>
    <script src="<%- url_for('script/main.js') %>"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/docsearch.js/2.1.8/docsearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/fastclick/1.0.6/fastclick.min.js"></script>
  </body>
</html>
