<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%- config.title %> | <%- page.title %> </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.4.0/swagger-ui.css">
    <link rel="stylesheet" href="<%- url_for('style/doc.css') %>">

    <!-- favicon -->
    <link rel="icon" href="<%- url_for(config.theme_config.favicon) %>">

  </head>
  <body>
    <%- partial('_partial/swagger-ui-icons') %>

    <script>window.__INITIAL_STATE__ = <%- JSON.stringify(initial_state) %></script>

    <%- partial('_partial/navigation') -%>
    <%- body %>
    <%- partial('_partial/google_analytics') %>

    <!-- js vendors -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.0/lunr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.4.0/swagger-ui-bundle.js"></script>

    <!-- js source  -->
    <script src="<%- url_for('script/doc.js') %>"></script>

  </body>
</html>
