<div class="card-wrap">
  <% params.forEach((param) => { %>
    <div class="card">
      <div class="main">
        <div class="name">
          <%= param.name %>
        </div>
        <div class="type">
          <%=  param.type %> <% if(param.format){ %> (<%= param.format %>) <% } %>
        </div>
      </div>
      <% if ( param.required ) {%>
        <div class="required">
          <%= 'required' %>
        </div>
      <% } %>
      <!-- Check right word for Used as-->
      <div class="used-as">
        <%= `Used in ${param.in}` %>
      </div>
      <div class="description">
        <%= param.description %>
      </div>
      <% if ( param.example ) { %>
        <div class="example">
          <strong>Eg: </strong><%= param.example %>
        </div>
      <% } %>
    </div>
  <% }) %>
</div>
