<% if(sample){ %>
  <div class="sample-snippet">
    <pre class="sample-snippet__content  prettyprint"><code class="sample-snippet__content__code">
      <%=_ -%><span class="sample-snippet__code__curl">curl -v -X <%= verb+' ' -%></span><%=_ -%><span class="sample-snippet__content__code__path"><%=_ baseUrl.replace(/\/$/, '')+path -%></span> <span class="sample-snippet__content__code__line-break"> \</span>
        <%_ Object.keys(sample.header).forEach((header) => { -%>
         <%_ if('Authorization' === header){ -%>
           <%=_ -%><span class="sample-snippet__content__code__curl-option">-H</span> <%= `"${header}: Bearer ` -%><%=_ -%><span class="sample-snippet__content__code__auth">&lt;Access-Token&gt;</span>"<span class="sample-snippet__content__code__line-break"> \</span>
         <%_ }else{ -%>
           <%=_ -%><span class="sample-snippet__content__code__curl-option">-H</span> <%= `"${header}: ${sample.header[header]}"` -%> <span class="sample-snippet__content__code__line-break"> \</span>
         <%_ } -%>
        <%_ }) -%>
        <%_ Object.keys(sample.formData).forEach((data) => { -%>
         <%=_ -%><span class="sample-snippet__content__code__curl-option">-F</span> <%= `"${data}: ${sample.formData[data]}"` -%> <span class="sample-snippet__content__code__line-break"> \</span>
        <%_ }) -%>
        <%_ if(sample.body){ -%>
         <%=_ -%><span class="sample-snippet__content__code__curl-option">-d</span> <%= `'${sample.body}'` -%><span class="sample-snippet__content__code__line-break"> \</span>
        <%_ } -%>
    </code></pre>
    <button class="dc-btn sample-snippet__copy-btn dc-btn--small">Copy Request</button>
  </div>
<% } %>
