<% if(sample){ %>
  <h3>Sample Request</h3>
  <h4>&nbsp;</h4>
  <div class="code-wrapper">
    <pre class="code-pre prettyprint"><code class="sample-code">
      <%=_ -%><span class="curl">curl -v -X <%= verb+' ' -%></span><%=_ -%><span class="path"><%=_ baseUrl.replace(/\/$/, '')+path -%></span> <span class="line-break"> \</span>
        <%_ Object.keys(sample.header).forEach((header) => { -%>
         <%_ if('Authorization' === header){ -%>
           <%=_ -%><span class="curl-option">-H</span> <%= `"${header}: Bearer ` -%><%=_ -%><span class="auth">&lt;Access-Token&gt;</span>"<span class="line-break"> \</span>
         <%_ }else{ -%>
           <%=_ -%><span class="curl-option">-H</span> <%= `"${header}: ${sample.header[header]}"` -%> <span class="line-break"> \</span>
         <%_ } -%>
        <%_ }) -%>
        <%_ Object.keys(sample.formData).forEach((data) => { -%>
         <%=_ -%><span class="curl-option">-F</span> <%= `"${data}: ${sample.formData[data]}"` -%> <span class="line-break"> \</span>
        <%_ }) -%>
        <%_ if(sample.body){ -%>
         <%=_ -%><span class="curl-option">-d</span> <%= `'${sample.body}'` -%><span class="line-break"> \</span>
        <%_ } -%>
      </code></pre>
  </div>
<% } %>
