<div class="card-wrap">
  <%
    Object.keys(response).forEach((key) => {
      const value = response[key];
  %>
    <div class="card">
      <div class="main">
        <div class="name">
          <%= key %>
        </div>
        <% if(value.type){ %>
          <div class="type">
            <%=  value.type %> <% if(value.format){ %> (<%= value.format %>) <% } %>
          </div>
        <% } %>
      </div>
      <% if(value.required){ %>
        <div class="required">
          <%=  'required' %>
        </div>
      <% } %>
      <% if(value.description){ %>
        <div class="description">
          <%=  value.description %>
        </div>
      <% } %>
      <% if(value.example){ %>
        <div class="example">
          <strong>Eg: </strong><%= value.example %>
        </div>
      <% } %>
    </div>
  <% }); %>
</div>
