<div class="card-wrap">
  <div class="card">
    <% if(response.description){ %>
      <div class="description">
        <%= response.description %>
      </div>
    <% } %>
  </div>
  <% if(response.headers){ %>
    <h3>Headers</h3>
    <%
      const headers = response.headers;
      Object.keys(headers).forEach((key) => {
        const header = headers[key];
    %>
      <div class="card">
        <div class="main">
          <div class="name">
            <%= key %>
          </div>
          <% if(header.type){  %>
            <div class="type">
              <%= header.type  %>
            </div>
          <% } %>
        </div>
        <% if(header.description){  %>
          <div class="description">
            <%= header.description  %>
          </div>
        <% } %>
        <% if(header.format){  %>
          <div class="format">
            <%= header.format  %>
          </div>
        <% } %>
      </div>
    <% }) %>
  <% } %>
</div>
