<div class="card-wrap">
  <% header.forEach((param) => { %>
    <div class="card">
      <div class="main">
        <div class="name">
          <%= param.name %>
        </div>
        <div class="type">
          <%= param.type %>
        </div>
      </div>
      <% if ( param.required ) {%>
        <div class="required">
          <%= 'required' %>
        </div>
      <% }%>
      <div class="description">
        <%=  param.description %>
      </div>
      <% if ( param.example ) { %>
        <div class="example">
          <strong>Eg: </strong><%= param.example %>
        </div>
      <% } %>
    </div>
  <% }) %>
</div>
