## <%= operation.title  %>

<div class="verb <%= operation.verb %>"><span class="name"><%=operation.verb.toUpperCase()%></span> <span class="path"><%=operation.path%></span></div>

<%= operation.description %>

<%- include_module('request', { operation }) %>

<%- include_module('responses', { operation }) %>
