<h2><%= operation.title  %></h2>

<div class="verb <%= operation.verb %>">
  <span class="name">
    <%=operation.verb.toUpperCase()%>
  </span>
  <span class="path">
    <%=operation.path%>
  </span>
</div>

<div><%= operation.description %></div>

<%- include_module('request', { operation }) %>

<%- include_module('responses', { operation }) %>
