<div class="swagger-operation">
  <div class="operation-info">
    <h2 id="<%= operation.id  %>"><%= operation.title  %></h2>

    <div class="verb <%= operation.verb %>">
      <span class="name">
        <%=operation.verb.toUpperCase()%>
      </span>
      <span class="path">
        <%=operation.path%>
      </span>
    </div>

    <div class="mtop"><%= operation.description %></div>
  </div>
  <div class="mtop">
    <% if(operation.security){ %>
      <h3> Security Requirement </h3>
      <%- include_module('securityRequirement', { securityRequirement: operation.security }) %>
    <% } %>
  </div>
  <%- include_module('request', { operation, baseUrl }) %>

  <div class="divider"></div>

  <%- include_module('responses', { operation }) %>

</div>
