<div class="card-wrap">
  <% body.forEach((bodyObject) => {
    Object.keys(bodyObject).forEach((key) => {
      const value = bodyObject[key];
  %>
    <div class="card">
      <div class="main">
        <div class="name">
          <%= key %>
        </div>
        <% if(value.type){ %>
          <div class="type">
            <%=  value.type %>
          </div>
        <% } %>
      </div>
      <% if(value.required){ %>
        <div class="required">
          <%=  'required' %>
        </div>
      <% } %>
      <% if(value.description){ %>
        <div class="description">
          <%=  value.description %>
        </div>
      <% } %>
      <% if(value.values){ %>
        <div class="values">
          <%=  'Allowed values: `' + value.values.join('`, `') + '`.' %>
        </div>
      <% } %>
    </div>
  <%
    });
  });
  %>
</div>
