<div class="divider"></div>
<div class="operation-request mtop1">
  <div class="reference">
    <h3>Request</h3>

    <% if( request.header.length ) {%>
      <h4>Header</h4>
      <%- include_module('header', { header: request.header }) %>
    <% } %>


    <% if( request.path.length || request.query.length ) {%>
      <h4>Path</h4>
      <%- include_module('requestParams', { params: request.path.concat(request.query) }) %>
    <% } %>


    <% if( request.formData.length || request.body.length) {%>
      <h4>Request Body</h4>
    <% } %>
    <% if(request.formData.length){ %>
      <%- include_module('requestParams', { params: request.formData }) %>
    <% } %>
    <% if(request.body.length){ %>
      <%- include_module('requestBody', { body: request.body }) %>
    <% } %>

  </div>
  <div class="sample">
    <%- include_module('requestSample', {request, path, verb, baseUrl}) %>
  </div>
</div>

