<div class="card">
  <div class="main">
    <div class="name">
      <%= key %>
    </div>
  </div>
  <% if(definition.description){ %>
    <div class="description">
      <%=  definition.description %>
    </div>
  <% } %>
  <% if(definition.type){ %>
    <div class="description">
      The type of security scheme is <code><%=  definition.type %></code>.
    </div>
  <% } %>
  <% if(definition.name){ %>
    <div class="description">
      The name of the <code><% if(definition.in === 'header'){ %>header<% }else{ %>query parameter<% } %></code> to be used is <code><%=  definition.name %></code>.
    </div>
  <% } %>
  <% if(definition.flow){ %>
    <div class="description">
      The flow used by the OAuth2 security scheme is <code> <%=  definition.flow %></code>.
    </div>
  <% } %>
  <% if(definition.authorizationUrl){ %>
    <div class="description">
      The authorization URL to be used for this flow is <code><%=  definition.authorizationUrl %></code>.
    </div>
  <% } %>
  <% if(definition.tokenUrl){ %>
    <div class="description">
      The token URL to be used for this flow is <code> <%=  definition.tokenUrl %></code>.
    </div>
  <% } %>
  <% if(definition.scopes){ %>
    <div class="description">
      The available scopes for the OAuth2 security scheme are as follows.
      <div class="scopes">
        <% Object.keys(definition.scopes).forEach((key) => { %>
          <div>
            <code><%- key %></code>:<%-definition.scopes[key]%>
          </div>
        <% }) %>
      </div>
    </div>
  <% } %>
</div>
