<div class="swagger-wrap bootstrap" id="swagger-wrap-<%- id %>"  ng-controller="swagger-ctrl-<%- id %>" >
  <div
    swagger-ui
    input="swaggerJson"
    input-type="json"
    api-explorer="<%- swagger_ui_config.api_explorer %>"
    parser="auto"
    trusted-sources="true"
    permalinks="<%- swagger_ui_config.permalinks %>">
  </div>
</div>
<script type="text/javascript">
  angular
  .module('swagger-module-<%- id %>', ['ngSanitize', 'swaggerUi'])
  .config([
    '$provide',
    '$locationProvider',
    function($provide, $locationProvider) {
      $provide.decorator('$anchorScroll', [
        '$delegate',
        function anchorScrollDecorator($delegate){
          return function () { /* Just not doing anything to prevent $anchorScrool default behaviour  */}
        }
      ]);

      $locationProvider.hashPrefix('');
    }
  ])
  .controller('swagger-ctrl-<%- id %>', function($scope, swaggerTranslator) {
    $scope.swaggerJson = <%- swagger %>;
  });
angular.bootstrap(document.getElementById('swagger-wrap-<%- id %>'), ['swagger-module-<%- id %>'])
</script>
